body { 
    margin: 0;
    background-image: url(c3uhsgo1vx541.jpg);
    color: aliceblue; 
    font-family: sans-serif;
}

.Cabeçalho {
    font-weight: bolder;
    background-color: #000000;
    opacity: 90%;
    display: flex;
    font-size: large;
    margin-left: 0%;
}

header {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: x-large;
}

.Port {
    font-weight: bolder;
}

a {
    color: aliceblue;
    font-family: sans-serif;
    text-decoration: none;
}

.home {
    transition: all 0.5s ease;
}

.home:hover {
    color: #e06a16;
}


.tri1 {
    transition: all 0.5s ease;
}

.tri1:hover {
    color: #e06a16;
    
}

.tri2 {
    transition: all 0.5s ease;
}

.tri2:hover {
    color: #e06a16;
}

.atv {
    transition: all 0.5s ease;
}

.atv:hover {
    color: #e06a16;
}

.meio {
    flex: auto;
    text-align: center;
    
}

.Port {
    font-size: x-large;
    display: flex;
    
}

.projeto {  
    background-color: #e06a16;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    margin: 5%;
    border-radius: 5%;
}

.projeto2 {  
    background-color: #e06a16;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    margin: 5%;    
    border-radius: 5%;
}

.projeto3 {  
    background-color: #e06a16;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    margin: 5%;
    border-radius: 5%;
}



section {
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meio{
    border-radius: 30px;
    background-color: #000000;
    
    
}

.lista {
    display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
}

.image {
    border-radius: 30px;
    margin: 3%;
}